@model List<MovieAndCustomerManager.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@if (Model.Count == 0)
{
    <h3>We don't have any customers yet.</h3>
}
else
{
    <table id="customers" class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MenbershipType.Name
                    </td>
                    <td>
                        <button data-customer-id="@customer.Id" type="button" class="btn btn-link js-delete">
                            Delete
                        </button>
                    </td>
                </tr>
            }
            @*@for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Model[i].Name, "Edit", "Customer", new { id = i }, null)
                    </td>
                    <td>
                        @Model[i].MenbershipType.Name
                    </td>
                </tr>
            }*@
        </tbody>

    </table>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                //bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                //    if (result) {
                //        $.ajax({
                //            url: "/api/customer/" + button.attr("data-customer-id"),
                //            method: "DELETE",
                //            success: function () {
                //                button.parents("tr").remove();
                //            }
                //        });
                //    }
                //});

                bootbox.confirm({
                    message: "Are you sure you want to delete this customer?",
                    buttons: {
                        cancel: {
                            label: 'Cancel'
                        },
                        confirm: {
                            label: 'Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customer/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}



